NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PIN=2468
NEXT_PUBLIC_WHATSAPP_PHONE=972500000000
NEXT_PUBLIC_BIT_LINK=
NEXT_PUBLIC_KASHCASH_LINK=https://www.kashcash.co.il/
